body {
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
  > *:first-child { margin-top: 0 }
  > *:last-child { margin-bottom: 0 }
}

.global-mod--with-cool-scrollbar {
  scrollbar-color: transparent transparent;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: $scrollbarWidth;
    height: $scrollbarWidth;
  }
  ::-webkit-scrollbar-thumb        {
    background: transparent;
  }

  &:hover {
    scrollbar-color: $clrBgAccent transparent;
  }
  &:hover::-webkit-scrollbar-thumb{
      background: $clrBgAccent;
  }
}


.global-mod--flash-success-default {
  animation: flash-success-default $timeMedium;
}
@keyframes flash-success-default {
  from {background-color: initial;}
  50% {background-color: $clrHighlightDefault;}
  to {background-color: initial;}
}

.global-mod--flash-success {
  animation: flash-success $timeMedium;
}
@keyframes flash-success {
  from {background-color: initial;}
  50% {background-color: $clrHighlightSuccess;}
  to {background-color: initial;}
}

.global-mod--flash-error {
  animation: flash-error $timeMedium;
}
@keyframes flash-error {
  from {background-color: initial;}
  50% {background-color: $clrHighlightError;}
  to {background-color: initial;}
}
