@import "variables";
@import "typo";

body {
  //outline: 10px solid darkred;
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;

  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }
}

.global-mod--with-cool-scrollbar {
  scrollbar-color: transparent transparent;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: $scrollbarWidth;
    height: $scrollbarWidth;
  }
  ::-webkit-scrollbar-thumb        {
    background: transparent;
  }

  &:hover {
    scrollbar-color: $clrBgAccent transparent;
  }
  &:hover::-webkit-scrollbar-thumb{
      background: $clrBgAccent;
  }
}
